html {
    background-color: #262e39;
    font-family: 'Lato', sans-serif;
}

nav {
    color: #fff;
    height: 50px;
}

nav h1 {
    float: left;
    margin: 0;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 100;
}
nav button {
    float: right;
    color: rgba(255, 255, 255, 0.66);
    background-color: transparent;
    border: none;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-right: 12px;
    margin-left: 12px;
}
nav button:hover {
    cursor: pointer;
    color: #fff;
}

section {
    color: #ffffff;
}
section h2 {
    text-align: center;
    font-weight: 100;
}

section img {
    margin-top: 50px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.download {
    padding-top: 30px;
    display: block;
    text-align: center;
}
section .btn-try {
    color: #fff;
    background-color: #47bb7f;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
}

section .btn-try:hover {
    background-color: #4cc787;
}

@media (min-width: 800px) {
    section,
    nav {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}
